.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5f5f5;
}

.jumbotron .container {
    max-width: inherit;
    text-align: center;
}
